<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625662842114-5ed461e75fodhal9qpgkm4gjhbnjbmfl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625662842114-5ed461e75fodhal9qpgkm4gjhbnjbmfl</string>
	<key>API_KEY</key>
	<string>AIzaSyD1q_-7S_oRFVQ7ttgwOoIpzpDKsg53_14</string>
	<key>GCM_SENDER_ID</key>
	<string>625662842114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notificator.app</string>
	<key>PROJECT_ID</key>
	<string>notificator-ad6ee</string>
	<key>STORAGE_BUCKET</key>
	<string>notificator-ad6ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625662842114:ios:858080fa42a1f2b3eb9e1b</string>
</dict>
</plist>